/*
 * CI Colors:
 * #ECB348, #F06845, #72C2AB
 *
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  background: linear-gradient(white 50%, #c7e5df);
  min-height: 100vh;
}

:root {
  font-size: 16px;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}

main {
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 1000px) {
  main {
    max-width: 90vw;
    padding: 0;
  }
}

a, a:link {
  color: #2A2A2B;
}

a:hover, a:focus, a:active, a:visited {
  color: #F06845
}